@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-textDark font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading text-primary;
  }

  .dark body {
    @apply bg-dark-bg text-dark-text;
  }

  .dark h1,
  .dark h2,
  .dark h3,
  .dark h4,
  .dark h5,
  .dark h6 {
    @apply text-white;
  }
}

::selection {
  background-color: theme('colors.accent');
  color: white;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - 1.5rem));
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}